<!DOCTYPE html>
<html>
<head>
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>
            Schedule Planner
            </h1>
      
        <!-- Group Code Input Form for Loading Schedules -->
        <form method="get" action="{{ url_for('index') }}">
            <label for="group_code">Group Code:</label>
            <input type="text" id="group_code" name="group_code" value="{{ request.args.get('group_code', '') }}" placeholder="4자리 고유번호를 입력하세요" required><br>
            <input type="submit" value="LOAD">
        </form> 


        <!-- Schedule Input Form -->
        <form method="post" action="{{ url_for('index', group_code=request.args.get('group_code', '')) }}">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required><br>
            
            <label for="start_time">Start Time:</label>
            <select id="start_time" name="start_time" required></select><br>
            
            <label for="end_time">End Time:</label>
            <select id="end_time" name="end_time" required></select><br>
            
            <label for="content">Content:</label>
            <input type="text" id="content" name="content" required><br>
            
            <label for="notes">Remark:</label>
            <input type="text" name="notes"><br>
            
            <input type="submit" value="ADD">
        </form>
        

        
         <!-- Schedule Table -->
        <table>
            <tr>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Content</th>
                <th>Remark</th>
                <th>Action</th>
            </tr>
            {% for plan in plans %}
            <tr class="{% if loop.index0 is divisibleby 2 %}even{% else %}odd{% endif %}">
                <td>{{ plan.date }}</td>
                <td>{{ plan.start_time }}</td>
                <td>{{ plan.end_time }}</td>
                <td>{{ plan.content }}</td>
                <td>{{ plan.notes }}</td>
                <td><a href="{{ url_for('delete', id=plan.id) }}?group_code={{ plan.group_code }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
